body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HOME PAGE */
.home {
  background: url("images/background.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 10px;
}

.home-content h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
}

.main-btn {
  background: #ffcc00;
  color: black;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
}
