body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HOME PAGE */
.home {
  background: url("images/background.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 10px;
}

.home-content h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
}

.main-btn {
  background: #ffcc00;
  color: black;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
}

/* POSTER PAGE */
.title {
  text-align: center;
  margin: 30px;
}

.poster-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.poster-card {
  background: white;
  width: 260px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.poster-card img {
  width: 100%;
  border-radius: 5px;
}

.poster-card h3 {
  margin: 10px 0;
}

.poster-card p {
  font-weight: bold;
}

.poster-card a {
  display: inline-block;
  margin-top: 10px;
  background: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
